@model IEnumerable<Admission_Office.Models.Student>

@{
    ViewBag.Title = "Index";
}

<style>
    body {
        background-color: #e3ee9e;
    }
</style>



<h2>Entered Students</h2>

@if (ViewBag.enterstderror != null)
{
    <h4 style="color:red;">@ViewBag.enterstderror </h4>
}

@if ((int)Session["slen"] == 0)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <h4>No any Students</h4>
}
else
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
<table class="table">
    <tr style="border-bottom:2px solid #48310d;" > 
       <th><h5><b>Serial.</b></h5></th>
         <th>
            @Html.DisplayNameFor(model => model.ARN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Father_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aggregate)
        </th>
        <th>
            <h5 style="position:relative;bottom:8spx;" ><b>Category<b></h5>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other_Tests)
        </th>
    </tr>
  @{
      int j = 1;
    }

    @foreach (var item in Model)
    {
        <tr >
            <td><h5><b>@j</b></h5></td>
            <td>
                
                @Html.DisplayFor(modelItem => item.ARN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Father_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.aggregate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category )
            </td>
           
                
       
            <td>
                @{if (item.Other_Tests.Count == 0)
                    {
                        <h4>
                            no other tests
                        </h4>
                    }
                    else
                    {
                        <table style="border:1px solid">
                            <tr>
                                <td>
                                    <b>Test</b>
                                </td>
                                <td>
                                    <b>obtained Marks</b>
                                </td>
                            </tr>
                            @{    foreach (var item1 in item.Other_Tests)
                                {
                                    <tr>
                                        <td>
                                            @item1.Name
                                        </td>
                                        <td>
                                            @item1.Marks
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                                }

                                j++;
                                  }


            </td>


            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ARN })
            </td>
        </tr>
        <tr >
            <td>
               <b> @Html.DisplayNameFor(model => model.preferences):</b>
            </td>

            @{

                int i = 1;
                foreach (var item1 in item.preferences)
                {
                    <td style="border-bottom:1px solid #514f4f"  >
                        <h5>@i . @item1.Name </h5>
                    </td>
                    i++;
                }
                <td style="border-bottom:1px solid #514f4f">
                    
                </td>
                <td style="border-bottom:1px solid #514f4f"></td>
                <td style="border-bottom:1px solid #514f4f"></td>
                <td style="border-bottom:1px solid #514f4f"></td>
                <td style="border-bottom:1px solid #514f4f"></td>
                <td style="border-bottom:1px solid #514f4f"></td>

            }
            
        </tr>
      
     


                }


</table>
                            }

@Html.ActionLink("See all Departments", "Index", "Home")
<button class="btn btn-info" onclick="window.location.href='@Url.Action("MeritList2", "Student")';" >
    Create Merit List
</button>
